# ---- LaTeX build artifacts (sinh ra khi build -> bo qua) ----
*.aux
*.log
*.out
*.toc
*.bbl
*.bib
*.bcf
*.blg
*.run.xml
*.fls
*.fdb_latexmk
*.synctex.gz
*.lof
*.lot
/main.pdf

# ---- Ngoai le: references.bib la FILE NGUON----
!references.bib